/*index2 CSS styling*/
:root{
    box-sizing: border-box;
    font-size: cal(1vw + 0.6em);
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 50px 0;
    font-family: monospace;
    background: #e5e5e5;
}
a:link, :visited{
    color: #666666;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.page-wrapper{
    background-color: #ffffff;
    margin: 0 auto;
    top: -1086px;
    left: -720px;
    border: 1px solid #33ddee;
}
@media(min-width: 40em){

    .page-wrapper{
        background-color: #ffffff;
        min-width: 1440px;
        top: -1086px;
        left: -720px;
    }

    header{
        background-color: inherit;
        padding: 0.4em 1em;
        margin-top: 4em;
    }
}
/*header section*/
header{
    width: inherit;
    background-color: inherit;
    padding: 0.4em 1em;
    margin-top: 1em;
}

@media(min-width: 40em){
    header{
        display: flex;
        margin-top: 4em;
    }
}
.logo{
    background: url(logo.png);
    background-size: 93.9px;
    background-repeat: no-repeat;
    width: 94.4px;
    height: 55px;
}
@media(min-width: 40em){
    .logo{
        width: 10%;
    }
}
/*menu section*/
.menu{
    position: relative;
}
@media(min-width: 40em){
    .menu{
        position: static;
    }
    .nav-menu{
        display: flex;
        margin-top: 20px;
    }
}
.toggle-menu{
    position: absolute;
    top: -1.2em;
    right: 0.1em;
    margin-top: -3em;
    border: none;
    outline: none;
    background-color: transparent;
    line-height: 0.4;
    text-indent: 5em;
    cursor: pointer;
}
@media(min-width: 40em){
    .toggle-menu{
        display: none;
    }
}
.dropdown{
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 0 0 -1.5em;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
    animation-delay: .2;
}
@media(min-width: 40em){
    .menu{
        position: static;
    }
    .dropdown{
        position: static;
        display: block;
        animation: none;
    }
}
.menu.is-open .dropdown{
    display: block;
    opacity: 0;
    animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085 0.680, 0.530) both;
}
/*menu slid in effect*/
@keyframes slide-in-left{
    0%{
        transform: translateX(-1000px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
/*menu slid back out effect*/

.nav-links{
    border: 1px solid #ccc;
    list-style: none;
    padding: 0.5em;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    text-align: center;
}
@media(min-width: 40em){

    .nav-links{
        width: 100%;
        display: flex;
        gap: 3px;
        text-align: center;
        background-color: inherit;
        border: none;
        padding: 0;
        z-index: 0;
    }
    #about{
        display: none;
    }
    .nav-links li + li {
        margin-left: 4em;
    }
}

.nav-links > li > a {
    display: block;
    padding: 1em 1em;
    text-transform: uppercase;
    color: #ffffff;
}
@media(min-width: 40em){
    .nav-links > li > a{
        text-transform: none;
        color: #666666;
        flex: 1;
        padding: 0;
    } 
}
.social-media{
    display: flex;
    list-style: none;
    gap: 5em;
    margin-left: 5em;
    text-align: center;
}
@media(min-width: 40em){
    social-media{
        width: 10%;
        gap: 0.5em;
        text-align: end;
    }
    .media-link{
        flex: 1;
    }
}
/*main content style starts here*/

/*hero section*/

.hero{
    background: url(bg-image.png);
    background-repeat: no-repeat;
    background-size: 100% 200px;
    height: 200px;
    width: 100%;
}

.text{
    width: 50%;
    height: 218.43px;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}
@media(min-width: 40em){
    .hero{
        min-width: 1440px;
        height: 446px;
        background: url(bg-image.png);
        background-repeat: no-repeat;
        background-size:1440px 446px ;
    }
    .text{
        width: 638.55px;
        height: 218.43px;
        margin-right: auto;
        margin-left: auto;
        color: #ffffff;
        text-align: center;
        font-size: 80px;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 30px;
    }
}
/*search bar section*/
form{
    width: 80%;
    display: flex;
    color: #4f4f4f;
    margin: 0.5em auto;
    padding: 0.8em 0;
    border-bottom: 3px solid #bdbdbd;
}

form input{
    flex: 2;
    outline: none;
    border: none;
}
 form button {
     outline: none;
     border: none;
     background-color: inherit;
 }

 @media(min-width: 40em){
    form{
        width: 90%;
    }
}
 /*Grid Section*/
 .grid{
    width: 80%;
    margin: 0 auto;
    padding: 1.5em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 1fr 1fr;
    grid-gap: 1em;
    grid-auto-flow: dense;
}
.stages{
    padding: 0 1.5em;
    color: #4f4f4f;
    box-shadow: -10px 10px 15px #bdbdbd;
    border-radius: 5px;
}

.stages h3{
    font-size: 1.5em;
    margin-bottom: -20px;
}

.empty{
    border: 1px solid #bdbdbd;
}
.members{
    display: flex;
    gap: 1em;
    padding: 1em;
}
.image1{
    background: url(image1.jpg);
    background-size: 70px 70px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
@media(min-width: 40em){
    .grid{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr 1fr;
    grid-gap: 5em;
    }
}
/*Footer Section*/
footer{
    width: 100%;
    background-color: #3d9ee3;
    margin: 0 auto;
    padding: 1em 2em;
    gap: 2em;
}

.logo-footer{
    background: url(logo.png);
    background-size: 200px 100px;
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
    margin: 0.5em auto;
}

.about{
    color: #ffffff;
    line-height: 1.5;
    font-size: 0.8rem;
    width: 80%;
    margin: 0 auto;
    padding: 0.5em;
}

footer button{
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    color: #ffffff;
    background-color: inherit;
    outline: none;
    border: none;
}

.input-wrapper{
    width: 80%;
    margin: 10px auto;
}

.input{
    width: 100%;
    height: 40px;
    margin: 0 auto;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 0.8em;
    text-align: center;
    color: black;
    text-transform: uppercase;
}

@media(min-width: 40em){
    footer{
        width: inherit;
        height: 516px;
        background-color: #3d9ee3;
        margin-top: 87.42px;
        padding: 2em 5em;
        display: flex;
        gap: 2em;
    }
    .logo-footer{
        background: url(logo.png);
        background-size: 236px 137px;
        width: 236px;
        height: 137px;
        margin: 1em;
    }
    .about{
        line-height: 1.5em;
        font-size: 1.5rem;
        padding: 0;
        margin-left: -1px;
    }
    
    footer button{
        width: 481px;
        height: 80px;
        font-size: 1.5em;
        margin-bottom: 100px;
    }
    .input-wrapper{
        width: 100%;
        margin: 10px auto;
    }
    
    .input{
        width: 100%;
        height: 86px;
        font-size: 1.3em;
        margin-bottom: 1em;
        border-radius: 10px;

    }
}